body {
    width: 100%;
    height: 100%;
    font-family: roboto;
    margin: 0px;
    background-color: black;
}
.mobile {
    position: absolute;
    width: 250px;
    height: 400px;
    border: 5px solid black;
    padding: 3px;
    border-radius: 15px;
    background-color: white;
}
.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
li {
    font-size: 17px;
    font-weight: bold;
    list-style: none;
}
li::before {
    content: "\2022";
    color: aqua;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
p {
    font-weight: italic;
    color: gray;
}
input {
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 5px;
    font-family: roboto;
}
select {
    border: none;
    margin-right: 95px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    padding: 5px;
    font-family: roboto;
}
.btn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-weight: bold;
    margin-left: -123px;
    border-radius: 0px 0px 7px 7px;
    background-color: gray;
}
a {
    text-decoration: none;
    color: black;
}
.animation1 {
    animation: showtext 1.5s;
    font-weight: bold;
}
.animation2 {
    animation: showtext 2.5s;
    font-weight: bold;
}
.animation3 {
    animation: showtext 3.5s;
    font-weight: bold;
}
@keyframes showtext {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




